input[type='file'] {
  display: none;
}


.source-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 14px;
  border: 1px solid #fff;
}

.hide {
  display: none;
}

.palette {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}
.palette>* {
  flex: 1 1 120px;
  max-width: 120px;
}

.palette div {
  border: 8px solid white;
  border-radius: 80px;
  padding: 8px;
  text-align: center;
}

.spinner-center {
  justify-content: center;
}

p.label {
  padding: 8px;
  font-size: 24pt;
  border-bottom: 2px solid #333;
}

.parameter-value {
  font-weight: 500;
}

@media  (max-width: 400px) {
  .palette {
    justify-content: space-evenly;
  }
  .palette>* {
    flex: 1 1 60px;
    max-width: 60px;
  }

  p.label {
    font-size: 12pt;
  }

  h1 {
    font-size: 14pt;
  }

  #customRange {
    font-size: 10pt;
  }

  .btn {
    font-size: 0.8rem
  }

  .palette div {
    font-size: 0.5rem;
  }
}

@media (min-width: 401px)  and (max-width: 800px) {
  p.label {
    font-size: 18pt;
  }
}
